/* font family */

* {
    font-family: Georgia, serif;
  }

/* heading styles */

h1, h2, h3, h4, h5 {
    font-size: 35px;
  }

/* nav bar */

.navbar-brand,
.navbar-nav .nav-link {
    color: rgb(199, 197, 197);
}

/* change color of active link */
.navbar-nav .nav-link.active {
    color: rgb(199, 197, 197);
}

/* change color of links when hover */
.navbar-nav .nav-link:hover, .navbar-brand:hover {
    color: white;
}

/* change color of navbar hamburger icon */
.navbar-toggler{
    color:gray;
}

/* #homePageContent3{
    background: red;
} */

/* **************************************************************** */

/* Home page */
main{
    margin-top: 100px;
}

/* image style */
#grad_pic{
    width: 400px;
    height: 350px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#social_links{
    padding-top:10px;
}

/* GitHub logo picture */
#GitHub_pic{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    /* padding-right: 5px; */
}

/* GitHub picture when hover */
#GitHub_pic:hover{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#linkedIn_pic{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    /* border-radius: 10px; */
}

#linkedIn_pic:hover{
    background: #fff;
    /* border-radius: 20px; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#insta_logo{
    width: 40px;
    height: 40px;
    border-radius: 13px;
}

#insta_logo:hover{
    background: #fff;
    /* border-radius: 20px; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* **************************************************************** */

/* about page */

.hr-blurry{
    margin-top: 100px;
}

#aboutPageContent{
    margin-top: 50px;
}

/* #aboutPageContent2{
    background: red;
} */

#about_me{
    text-align: center;
}

#aboutPageContent2{
    /* background: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
    /* background-color: aqua; */
}

#resume_pic{
    width: 150px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* resume picture pulse */

.animate__pulse {
    animation: pulse 3s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

#resume_header{
    text-align: center;
    padding-bottom: 20px;
    border: black;
}

#download_button{
    color: black;
}

#download_button:hover{
    color:#fff;
}

#button_container{
    padding-top: 20px;
}

/* **************************************************************** */

/* skills page */

#skillsPageContent{
    margin-top: 50px;
}

#chart{
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#chartjs{
    padding-bottom: 15px;
}

#test1{
    /* background-color: aqua; */
}

h4{
    text-align: center;
    padding-bottom: 20px;
}

/* **************************************************************** */

/* Portfolio page */

#portfolioPageContent{
    margin-top: 50px;
}

h5{
    text-align: center;
    padding-bottom: 20px;
}

/* work samples */

#portfolio_1{
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width:260px;
    height: 375px;  
}

#HTML_email_pic{
    border-radius: 15px;
    margin-bottom: auto;
}

.portfolio_1_content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.port1_button_container{
    margin-bottom: 10px;
    margin-top: 70px;
}

#portfolio_2{
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width:260px;
    height: 375px;
    margin-left: 25px;
    
}

#portfolio_3{
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width:260px;
    height: 375px;
    margin-left: 25px;
    
}

#portfolio_4{
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width:260px;
    height: 375px;
    margin-left: 25px;
    
}

/* footer content */

#footer_div{
    margin-top: 50px;
}

h6{
    text-align: center;
    font-size: 35px;
}

#phone{
    text-align: center;
    /* background-color: aqua; */
}

#email{
    text-align: center;
    /* background-color: blueviolet; */
}

#socials{
    text-align: center;
}

/* set size of text in footer */
#phone_p, #email_p, #socials_p{
    margin-top: 10px;
    font-size: 25px;
}

#copyright{
    margin-top: 15px;
    text-align: center;
}


/* media queries */

/* @media (max-width: 1200px) {
    .row > div[class^="col-"] {
      margin-bottom: 25px;
    }
  } */

  /* footer image sizing */
  #GitHub_footer, #linkedIn_footer, #insta_footer{
    width: 30px;
    height: 30px;
  }


  /* desktop viewport */
  @media (max-width: 1200px){
    #portfolio_1, #portfolio_2, #portfolio_3, #portfolio_4 {
        margin: auto;
        margin-bottom: 25px;
      }
  }

  /* 1025px width */
  @media (max-width: 1199px){
    #portfolio_1, #portfolio_2, #portfolio_3, #portfolio_4 {
        margin: auto;
        margin-bottom: 25px;
      }
      #portfolio_1{
        margin-right: 0px;
      }
      #portfolio_3{
        margin-left: 0px;
      }
      #portfolio_2{
        margin-left: 25px;
        margin-right: 25px;
      }
  }

  /* ipad viewport */
  @media (max-width: 1024px){
    #portfolio_1, #portfolio_2, #portfolio_3, #portfolio_4 {
        margin: auto;
        margin-bottom: 25px;
      }
      #portfolio_1{
        margin-right: 0px;
      }
      #portfolio_3{
        margin-left: 0px;
      }
      #portfolio_2{
        margin-left: 25px;
        margin-right: 25px;
      }
  }

  /* medium device viewports */
  @media (max-width: 992px){
    #portfolio_1, #portfolio_2, #portfolio_3, #portfolio_4 {
        margin: auto;
        margin-bottom: 25px;
      }
    #portfolio_2, #portfolio_4{
        margin-left: 25px;
    }
    #portfolio_1, #portfolio_3{
        margin-right: 0px;
    }
  }

  /* mobile device viewports */
  @media (max-width: 768px) {
    #portfolio_1, #portfolio_2, #portfolio_3, #portfolio_4 {
        margin: auto;
        margin-bottom:25px;
      }
    #grad_pic{
        margin-bottom: 25px;
    }
    h1{
        text-align: center;
    }
  }

  #test_1{
    background-color: blue;
  }

  /* fix button position on mobile devices */
  @media (max-width: 257px) {
    #GitHub_port1_pic{
        margin-top: 35px;
    }

    #html_view_button{
        margin-top: 35px;
    }
  }
