/* font family */

* {
    font-family: Georgia, serif;
  }

/* heading styles */

h1, h2, h3, h4, h5, h6 {
    font-size: 35px;
  }

/* nav bar */

.navbar-brand,
.navbar-nav .nav-link {
    color: rgb(199, 197, 197);
}

/* change color of active link */
.navbar-nav .nav-link.active {
    color: rgb(199, 197, 197);
}

/* change color of links when hover */
.navbar-nav .nav-link:hover, .navbar-brand:hover {
    color: white;
}

/* change color of navbar hamburger icon */
.navbar-toggler{
    color:gray;
}

/* #homePageContent3{
    background: red;
} */

/* **************************************************************** */

/* Home page */
main{
    margin-top: 100px;
}

/* image style */
#grad_pic{
    width: 400px;
    height: 350px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#social_links{
    padding-top:10px;
}

/* GitHub logo picture */
#GitHub_pic{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    /* padding-right: 5px; */
}

/* GitHub picture when hover */
#GitHub_pic:hover{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#linkedIn_pic{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    /* border-radius: 10px; */
}

#linkedIn_pic:hover{
    background: #fff;
    /* border-radius: 20px; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#insta_logo{
    width: 40px;
    height: 40px;
    border-radius: 13px;
}

#insta_logo:hover{
    background: #fff;
    /* border-radius: 20px; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* **************************************************************** */

/* about page */

.hr-blurry{
    margin-top: 100px;
}

#aboutPageContent{
    margin-top: 50px;
}

/* #aboutPageContent2{
    background: red;
} */

#about_me{
    text-align: center;
}

#aboutPageContent2{
    /* background: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); */
    /* background-color: aqua; */
}

#resume_pic{
    width: 150px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* #resume_container {

    background-color: red;
  } */

/* resume picture pulse */

.animate__pulse {
    animation: pulse 3s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

#resume_header{
    text-align: center;
    padding-bottom: 20px;
    border: black;
}

#download_button{
    color: black;
}

#download_button:hover{
    color:#fff;
}

/* #test{
    background: red;
} */

#button_container{
    padding-top: 20px;
}

/* **************************************************************** */

/* skills page */

#skillsPageContent{
    margin-top: 50px;
}

#chart{
    /* width:800px; */
    /* background: red; */
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#chartjs{
    padding-bottom: 15px;
}

#test1{
    /* background-color: aqua; */
}

h4{
    text-align: center;
    padding-bottom: 20px;
}

/* #skillsPageContent{
    background: red;
} */

/* **************************************************************** */

/* Portfolio page */

#portfolioPageContent{
    margin-top: 50px;
}

h5{
    text-align: center;
    padding-bottom: 20px;
}

/* work samples */

#portfolio_1, #portfolio_2, #portfolio_3{
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width:250px;
    height: 275px;
    margin-right: 25px;
    
}

/* #portfolio_2{
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width:250px;
    height: 275px;
    margin-right: 25px;
    
}

#portfolio_3{
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width:250px;
    height: 275px;
    margin-right: 25px;
    
} */

#portfolio_4{
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width:250px;
    height: 275px;
    /* margin-right: 25px; */
    
}

/* footer content */

#footer_div{
    margin-top: 50px;
}

h6{
    text-align: center;
}

#phone{
    text-align: center;
    /* background-color: aqua; */
}

#email{
    text-align: center;
    /* background-color: blueviolet; */
}

#socials{
    text-align: center;
    /* background-color: red; */
}

/* set size of text in footer */
#phone_p, #email_p, #socials_p{
    margin-top: 10px;
    font-size: 25px;
}

#copyright{
    margin-top: 15px;
    text-align: center;
}


/* set margin at specified breakpoint */

@media (max-width: 1200px) {
    .row > div[class^="col-"] {
      margin-bottom: 25px;
      margin-right: 25px;
    }
  }