/* font family */

* {
    font-family: Georgia, serif;
  }

/* heading styles */

h1, h2, h3, h4, h5 {
    font-size: 35px;
  }

.header_hr{
    color: white;
}

.divider{
    margin-top: 100px;
    color: black;
}

/* nav bar */

.navbar-brand,
.navbar-nav .nav-link {
    color: rgb(199, 197, 197);
}

/* change color of active link */
.navbar-nav .nav-link.active {
    color: rgb(199, 197, 197);
}

/* change color of links when hover */
.navbar-nav .nav-link:hover, .navbar-brand:hover {
    color: white;
}

/* change color of navbar hamburger icon */
.navbar-toggler{
    color:gray;
}

/* #homePageContent3{
    background: red;
} */

/* **************************************************************** */

/* Home page */

main{
    margin-top: 100px;
}


/* image style */
#grad_pic{
    width: 400px;
    height: 350px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#social_links{
    padding-top:10px;
}

/* GitHub logo picture */
#GitHub_pic{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    /* padding-right: 5px; */
}

/* GitHub picture when hover */
#GitHub_pic:hover{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#linkedIn_pic{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    /* border-radius: 10px; */
}

#linkedIn_pic:hover{
    background: #fff;
    /* border-radius: 20px; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#insta_logo{
    width: 40px;
    height: 40px;
    border-radius: 13px;
}

#insta_logo:hover{
    background: #fff;
    /* border-radius: 20px; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* **************************************************************** */

/* about page */

#aboutPageContent{
    margin-top: 100px;
}

#about_me{
    margin-top: 10px;
    text-align: center;
}

.about_me_container{
    color: white;
    background: #313338;
    /* margin-right: 5px; */
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    
}

.about_page_p_tag{
    margin-top: 10px;
    margin-bottom: 10;
}

.resume_container{
    color: white;
    background: #313338;
    /* margin-left: 5px; */
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#resume_pic{
    margin-top: 50px;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 5px rgba(255, 255, 255, 0.5);
}

/* resume picture pulse */

.animate__pulse {
    animation: pulse 3s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

#resume_header{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#download_button{
    color: black;
}

#download_button:hover{
    color:black;
    background-color: #fff;
}

#button_container{
    padding-top: 20px;
}

/* **************************************************************** */

/* skills page */

.skills_container{
    background-color: #313338;
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    color: white;
}

h4{
    padding-top: 10px;
    color:white;
    text-align: center;
}

.skills_page_header_p_tag{
    margin-top: 20px;
    font-size: 25px;
}

#chartjs{
    padding-bottom: 15px;
}

#test1{
    /* background-color: aqua; */
}

h4{
    text-align: center;
}

/* **************************************************************** */

/* Portfolio page */

#portfolioPageContent{
    margin-top: 50px;
}

h5{
    text-align: center;
    padding-bottom: 20px;
}

/* work samples */

.portfolio_box{
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width:260px;
    height: 375px;
    margin-top: auto; 
}

#HTML_email_pic{
    border-radius: 15px;
    margin-top: 10px;
    /* height: 150px; */
}

.portfolio_header_p_container{
    margin-top: 5px;
}

.portfolio_header_p_tag{
    font-size: 20px;
    text-align: center;
}

/* github picture inside portfolio_1 */

#GitHub_port1_pic{
    width: 30px;
    height: 30px;
}

.hello{
   margin-right: auto;
}

/* footer content */

#footer_div{
    margin-top: 50px;
}

h6{
    text-align: center;
    font-size: 35px;
}

#phone{
    text-align: center;
    /* background-color: aqua; */
}

#email{
    text-align: center;
    
}

#socials{
    text-align: center;
}

/* set size of text in footer */
#phone_p, #email_p, #socials_p{
    margin-top: 10px;
    font-size: 25px;
}

#copyright{
    margin-top: 15px;
    text-align: center;
}


/* media queries */

  /* footer image sizing */
  #GitHub_footer, #linkedIn_footer, #insta_footer{
    width: 30px;
    height: 30px;
  }

  /* desktop viewport */
  @media (max-width: 1200px){
    #portfolio_1, #portfolio_2, #portfolio_3, #portfolio_4 {
        margin: auto;
        margin-bottom: 25px;
      }
  }

  /* 1025px width */
  @media (max-width: 1199px){

  }

  /* ipad viewport */
  @media (max-width: 1024px){

  }

  /* medium device viewports */
  @media (max-width: 992px){

    .resume_container{
        margin-top: 20px;
    }
    #download_button{
        margin-bottom: 20px;
    }
    .programming_content{
        margin-top: 50px;
    }
    .soft_skills_content{
        margin-top: 50px;
    }
    .chart{
        margin: auto;
    }
  }

  /* mobile device viewports */
  @media (max-width: 768px) {

  }

  /* fix button position on mobile devices */
  @media (max-width: 257px) {
    #GitHub_port1_pic{
        margin-top: 35px;
    }

    #html_view_button{
        margin-top: 35px;
    }
  }